<div class="container box">


    <h1>Login</h1>
    <p>Please enter your credentials</p>

    <form >
        <label for="email">Username</label>
        <input [(ngModel)]='email' name="email" required  type="email">
        <label for="password">Password</label>
        <input [(ngModel)]='password' name="password" type="password">
        <button (click)='login()' aria-label="Login button" id="submit">Login</button>
    </form>
    
    <button (click)='back()' aria-label="Back to game button" id="back">Back</button>
</div>