Players
<div class="container">
  <h1>Players</h1>
    <table class="players">
        <thead>
        <tr>
          <th>ID</th>
          <th>Players</th>
          <th>Email</th>
        </tr>
        </thead>
        <tbody>
            <tr *ngFor="let player of allPlayers"> 
              <td>{{ player.id }}</td>
                <td>{{ player.username }}</td>
                <td>{{ player.email }}</td>
                <td><button (click) = "delete(player.id)">Delete</button></td>
                
            </tr>
        </tbody>
      </table>
</div>
