/* You can add global styles to this file, and also import other style files */
body {
    font-family:Lato, sans-serif ;
}

h1, p {
    text-align: center;
}

button, select, input {
    background-color: white;
    border-radius: .375em;
    border: 1px solid gray;
    cursor: pointer;
    padding: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    font-size: medium;
}

button:hover, select:hover, input:hover {
    border-color: black;
    background-color: whitesmoke;
}

table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    table-layout:fixed;
}

td, th {
border: 1px solid #ddd;
padding: 8px;
text-align: left;
overflow:auto; 
}

tr:nth-child(even){background-color: #f2f2f2;}

tr:hover {background-color: #f2f2f2;}

th {
padding-top: 12px;
padding-bottom: 12px;
background-color: #db0000;
color: white;
}

.container {
  display: flex;
  justify-content: center;
  }

tr:nth-child(even) {
    background-color: #cedbe4;
}


@media all and (min-width: 1200px){
    .container {
        max-width: 1200px;
        margin:0 auto;
    }
}